.video-player {
    position: relative;
    height: fit-content;
    width: fit-content;
}

    .video-player .video {
        max-height: 80vh;
        max-width: 45vw;
        border-radius: 10px;
    }

    .video-player .controls {
        width: 100%;
        position: absolute;
        height: 50px;
        bottom: 3px;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .video-player .controls .control-row {
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
            align-items: center;
        }

        .video-player .controls .top {
            height: 35px;
            margin: auto 15px;
        }

        .video-player .controls .bottom {
            height: 15px;
            font-size: 10px;
        }

        .video-player .play-pause-button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }

    .video-player .volume-slider {
        width: 100px;
    }

    .video-player .duration {
        color: white;
    }
