.video-player {
    position: relative;
}

    .video-player .video {
        max-height: 505px;
        max-width: 505px;
    }

    .video-player .controls {
        position: absolute;
        height: 35px;
        bottom: 3px;
        left: 0;
        right: 0;
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.5)
    }

    .video-player .play-pause-button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        outline: none;
    }

    .video-player .volume-slider {
        width: 100px;
    }
